<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Filmout</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>

<body>
  <nav class="navbar">
    <div class="nav-logo">
      <span class="logo-film">FILM</span><span class="logo-out">OUT</span>
    </div>

    <ul class="nav-links">
      <li>
        <a href="/" class="nav-link active">
          🏠<span>Home</span>
        </a>
      </li>

      <li>
        <a href="/events" class="nav-link">
          👥<span>Events</span>
        </a>
      </li>
    </ul>

    <div class="nav-actions">
      {{#loggedUser}}
      <a href="/profile" class="nav-username">{{userName}}</a>
      <a href="/logout" class="nav-link">Logout</a>
      {{/loggedUser}}
      {{^loggedUser}}
      <a href="/login" class="nav-link">Login</a>
      <a href="/register" class="nav-link">Register</a>
      {{/loggedUser}}
    </div>
  </nav>
</body>

</html>