<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Filmout</title>
  <link rel="stylesheet" href="/css/styles.css">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
</head>

<body>
  <nav class="navbar">
    <div class="nav-logo">
      <span class="logo-film">FILM</span><span class="logo-out">OUT</span>
    </div>

    <ul class="nav-links">
      <li>
        <a href="/" class="nav-link active">
          🏠<span>Inicio</span>
        </a>
      </li>
      <li>
        <a href="/movies" class="nav-link">
          🎬<span>Películas</span>
        </a>
      </li>
      <li>
        <a href="/events" class="nav-link">
          👥<span>Eventos</span>
        </a>
      </li>
      <li>
        <a href="/history" class="nav-link">
          🕒<span>Historial</span>
        </a>
      </li>
    </ul>

    <div class="nav-actions">
      {{#loggedUser}}
      <a href="/profile" class="nav-username">{{userName}}</a>
      <a href="/logout" class="nav-link">Cerrar sesión</a>
      {{/loggedUser}}
      {{^loggedUser}}
      <a href="/login" class="nav-link">Iniciar sesión</a>
      <a href="/register" class="nav-link">Registrarse</a>
      {{/loggedUser}}
    </div>
  </nav>
</body>

</html>